singularity {
  enabled = true
  autoMounts = true
}

process {
  withName:bwa{
    container = '/home/workflows/singularity_files/staphb-ivar-1.2.2_artic20200528.img'
  }
  withName:ivar_trim{
    container = '/home/workflows/singularity_files/staphb-ivar-1.2.2_artic20200528.img'
  }
  withName:samtools_sort{
    container = '/home/workflows/singularity_files/staphb-ivar-1.2.2_artic20200528.img'
  }
  withName:ivar_variants{
    container = '/home/workflows/singularity_files/staphb-ivar-1.2.2_artic20200528.img'
  }
  withName:ivar_consensus{
    container = '/home/workflows/singularity_files/staphb-ivar-1.2.2_artic20200528.img'
  }
  withName:fastqc{
    container = '/home/workflows/singularity_files/staphb-fastqc-0.11.8.img'
  }
  withName:samtools_stats{
    container = '/home/workflows/singularity_files/staphb-ivar-1.2.2_artic20200528.img'
  }
  withName:samtools_coverage{
    container = '/home/workflows/singularity_files/staphb-samtools-1.10.img'
  }
  withName:samtools_flagstat{
    container = '/home/workflows/singularity_files/staphb-samtools-1.10.img'
  }
  withName:kraken2{
    container = '/home/workflows/singularity_files/staphb-kraken2-2.0.8-beta_hv.img'
  }
  withName:bedtools{
    container = '/home/workflows/singularity_files/staphb-ivar-1.2.2_artic20200528.img'
  }
  withName:pangolin{
    container = '/home/workflows/singularity_files/staphb-pangolin-3.1.11-pangolearn-2021-08-24.img'
  }
  withName:nextclade{
    container = '/home/workflows/singularity_files/neherlab-nextclade-0.12.0.img'
  }
  withName:seqyclean{
    container = '/home/workflows/singularity_files/staphb-seqyclean-1.10.09.img'
  }
  withName:summary{
    container = '/home/workflows/singularity_files/staphb-multiqc-1.7.img'
  }
  withName:combined_summary{
    container = '/home/workflows/singularity_files/staphb-multiqc-1.7.img'
  }
  withName:file_submission{
    container = '/home/workflows/singularity_files/staphb-multiqc-1.7.img'
  }
  withName:multifasta_submission{
    container = '/home/workflows/singularity_files/staphb-multiqc-1.7.img'
  }
}
